@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

html, body {
    font-family: 'Cairo', sans-serif !important;
}

.content,.codex-editor__redactor {
    background-image: url("/files/backgroundasiaf.png");
    background-repeat: no-repeat; /* Optional: prevents image from repeating */
    background-size: cover; /* Optional: covers the entire element without distortion */
    background-position: center; /* Optional: centers the image */
}